[submodule "o2r-bouncer"]
	path = o2r-bouncer
	url = https://github.com/o2r-project/o2r-bouncer
[submodule "o2r-muncher"]
	path = o2r-muncher
	url = https://github.com/o2r-project/o2r-muncher
[submodule "o2r-shipper"]
	path = o2r-shipper
	url = https://github.com/o2r-project/o2r-shipper
[submodule "api"]
	path = api
	url = https://github.com/o2r-project/api
[submodule "erc-spec"]
	path = erc-spec
	url = https://github.com/o2r-project/erc-spec
[submodule "erc-checker"]
	path = erc-checker
	url = https://github.com/o2r-project/erc-checker
[submodule "o2r-meta"]
	path = o2r-meta
	url = https://github.com/o2r-project/o2r-meta
[submodule "architecture"]
	path = architecture
	url = https://github.com/o2r-project/architecture
[submodule "erc-examples"]
	path = erc-examples
	url = https://github.com/o2r-project/erc-examples
[submodule "o2r-guestlister"]
	path = o2r-guestlister
	url = https://github.com/o2r-project/o2r-guestlister
[submodule "containerit"]
	path = containerit
	url = https://github.com/o2r-project/containerit
[submodule "o2r-ui"]
	path = o2r-ui
	url = https://github.com/o2r-project/o2r-ui
[submodule "geoextent"]
	path = geoextent
	url = https://github.com/o2r-project/geoextent