[submodule "o2r-loader"]
	path = o2r-loader
	url = https://github.com/o2r-project/o2r-loader
[submodule "o2r-bouncer"]
	path = o2r-bouncer
	url = https://github.com/o2r-project/o2r-bouncer
[submodule "o2r-finder"]
	path = o2r-finder
	url = https://github.com/o2r-project/o2r-finder
[submodule "o2r-informer"]
	path = o2r-informer
	url = https://github.com/o2r-project/o2r-informer
[submodule "o2r-muncher"]
	path = o2r-muncher
	url = https://github.com/o2r-project/o2r-muncher
[submodule "o2r-transporter"]
	path = o2r-transporter
	url = https://github.com/o2r-project/o2r-transporter
[submodule "o2r-shipper"]
	path = o2r-shipper
	url = https://github.com/o2r-project/o2r-shipper
[submodule "o2r-platform"]
	path = o2r-platform
	url = https://github.com/o2r-project/o2r-platform
[submodule "api"]
	path = api
	url = https://github.com/o2r-project/api
[submodule "erc-spec"]
	path = erc-spec
	url = https://github.com/o2r-project/erc-spec
[submodule "erc-checker"]
	path = erc-checker
	url = https://github.com/o2r-project/erc-checker
[submodule "o2r-meta"]
	path = o2r-meta
	url = https://github.com/o2r-project/o2r-meta
[submodule "o2r-substituter"]
	path = o2r-substituter
	url = https://github.com/o2r-project/o2r-substituter
[submodule "architecture"]
	path = architecture
	url = https://github.com/o2r-project/architecture
[submodule "erc-examples"]
	path = erc-examples
	url = https://github.com/o2r-project/erc-examples
[submodule "o2r-inspecter"]
	path = o2r-inspecter
	url = https://github.com/o2r-project/o2r-inspecter
[submodule "o2r-guestlister"]
	path = o2r-guestlister
	url = https://github.com/o2r-project/o2r-guestlister
[submodule "o2r-bindings"]
	path = o2r-bindings
	url = https://github.com/o2r-project/o2r-bindings
[submodule "containerit"]
	path = containerit
	url = https://github.com/o2r-project/containerit
